<form action="">
  <div class="container-name col-12 col-lg-6  d-flex justify-content-center pt-5">
    <div class="container-input d-flex flex-column me-lg-5">
      <label for="">Nombre*</label>
      <input class="form-control" type="text">
    </div>
    <div class="container-input d-flex flex-column ms-lg-5">
      <label for="">Apellido*</label>
      <input class="form-control" type="text">
    </div>
  </div>
  <div class="container-name col-12 col-lg-6 d-flex justify-content-center pt-5">
    <div class="container-input d-flex flex-column me-lg-5">
      <label for="">Email*</label>
      <input class="form-control" type="text">
    </div>
    <div class="container-input d-flex flex-column ms-lg-5">
      <label for="">Contraseña*</label>
      <input class="form-control" type="text">
    </div>
  </div>
  <div class="container-page col-12 d-flex justify-content-center pt-5">
    <div class="container-input-site d-flex flex-column">
      <label for="">Sitio web*</label>
      <input class="form-control" type="text">
    </div>
  </div>
  <div class="col-12 d-flex justify-content-center pt-5">
    <button class="btn btn-send">Registrarse</button>
  </div>
</form>
