/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
  color: #fff;
  background: rgb(2,0,36);
  background: linear-gradient(96deg, rgba(2,0,36,1) 0%, rgba(152,56,161,1) 22%, rgba(0,212,255,1) 100%);
}
